<ion-header>
  <ion-toolbar>
    <div class="flex justify-between ion-padding">
      <h2 class="text-white mt-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
      </h2>
      <h6 class="text-white uppercase mt-0">my transactions</h6>
      
      <h2 (click)="logOut()" class="text-white mt-0 relative">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
      </h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-w-screen-md mx-auto p-5 mt-20">
    <div class="text-center mb-16">
      
        <h3 *ngIf="!is_deposit" class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-white">
          New Transaction
        </h3>
        <h3 *ngIf="is_deposit" class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-white">
          New Deposit
        </h3>
    </div>
    
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="w-full">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div *ngIf="!is_deposit" class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
          Wallet ID
        </label>
        <input formControlName="recipient_account" class="appearance-none block w-full bg-[#151a20] text-white border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-[#151a20] focus:border-gray-500 focus:ring-white" type="text" placeholder="Wallet ID...">
        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
          Amount
        </label>
        <input formControlName="amount" class="appearance-none block w-full bg-[#151a20] text-white border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-[#151a20] focus:border-gray-500 focus:ring-white" type="text" placeholder="Amount...">
      </div>
    </div>
    
      
      <div class="flex flex-wrap -mx-3 mb-6">
      <!-- <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-password">
          Your Message
        </label>
        <textarea rows="5" class="appearance-none block w-full bg-[#151a20] text-white border border-bg-[#151a20] rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-[#151a20] focus:ring-white focus:border-gray-500">
          
        </textarea>
      </div> -->
      <div class="flex justify-center w-full px-3">
        
        <button class="shadow bg-[#73607C]  focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded" type="submit">
          Continue
        </button>
      </div>
        
    </div>
  </form>
  </div>
</ion-content>
